


/********************************************
 * Fonts
 *******************************************/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

* { font-family: 'Fira Sans', sans-serif; }


/********************************************
 * Utilities
 *******************************************/

.hr {
    width: 100%;
    height: 1px;
    margin: 2rem auto;
    background-color: #4d4d4d;
}


/********************************************
 * Header
 *******************************************/

#header-wrapper {
    background:
        url(../img/banner-bg.svg)
        center center / cover;
    color: #b3b3b3;
    padding-bottom: 8rem;
    letter-spacing: 0.25rem;
}


    /******* Navbar *******/

    #navbar { margin-bottom: 6rem; }

    .navbar-nav { border: #b3b3b3 solid 1px; border-radius: 5px; }

    .nav-link { color: #b3b3b3; }

    @media (max-width: 768px) {
        #navbar { margin-bottom: 2rem; }
        .navbar-nav { border: none; }
        .navbar-nav .nav-link {
            background-color: #313d3d;
            padding-left: 2.5rem;
            border-bottom: solid 1px;
        }
    }


    /******* Title *******/

    .header-title { color: #f2f2f2; }

    .header-title .hr { background-color: #f2f2f2; }

    .slogan {letter-spacing: 0.1rem; }

    .slogan:not(:first-of-type) { color: #b3b3b3; }

    @media (max-width: 992px) {
        .header-title h1 { font-size: 2.5rem; }
        .header-title .slogan { font-size: 1.2rem; }
        .header-title .slogan:first-of-type {font-size: 1.5rem; }
    }

    @media (max-width: 576px) {
        .header-title .slogan { font-size: 0.8rem; }
        .header-title .slogan:first-of-type { font-size: 1rem; }
    }


    /******* Doodle *******/

    .doodle { margin-top: 0; max-width: 1000px; }
    @media (min-width: 450px) { .doodle { margin-top: -2rem; } }
    @media (min-width: 576px) { .doodle { margin-top: -4rem; } }


/********************************************
 * Sections
 *******************************************/

/* .section.wrapper { 
    position: relative;
    padding: 11rem 0 12rem;
    color: #f2f2f2;
}

.section-title {
    position: absolute;
    top: -2rem;
    padding: 1rem 5rem 0.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.25rem;
}

.section-title:before {
    content: '';
    position: absolute;
    bottom: -23px;
    left: -35px;
    width: 35px;
    height: 38px;
    background-image: url("../img/shadow.png");
}

.section-title:after {
    content: '';
    position: absolute;
    bottom: -23px;
    right: -35px;
    width: 35px;
    height: 38px;
    background-image: url("../img/shadow.png");
    transform: scaleX(-1);
} */


/********************************************
 * About section
 *******************************************/




/********************************************
 * Projects section
 *******************************************/




/********************************************
 * Blog section
 *******************************************/




/********************************************
 * Contact section
 *******************************************/

#contact-wrapper {
    padding-top: 5rem;
    padding-bottom: 4rem;
    color: #b3b3b3;
}

#contact-wrapper, #contact .section-title {
    background-color: #3a4040;
    background-image: url("../img/overlay.png");
}

.form-submit {
    background-color: #4f886f;
    background-image: url("../img/overlay.png");
    border-color: #315445;
}
.form-submit:hover, .form-submit:active {
    background-color: #498067;
    border-color: #315445;
}

.horizontal-divider.contact { width: 94%; margin: 3rem auto 1.5rem; background-color: #4d4d4d; }
@media (min-width: 992px) { .horizontal-divider.contact { display: none; } }

#contact-wrapper a { color: #b3b3b3; }
#contact-wrapper a:hover, #contact-wrapper a:active { color: #d4d4d4; text-decoration: none; }

#contact-wrapper a .link-icon { color: #4f886f; }
#contact-wrapper a:hover .link-icon { margin-left: 1px; color: #d4d4d4; }
@media (min-width: 768px) { #contact-wrapper a:hover .link-icon { color: #4f886f; } }

#contact-wrapper a .link-text { display: none; }
@media (min-width: 768px) { #contact-wrapper a .link-text { display: inline; } }


/********************************************
 * Footer
 *******************************************/

footer {
    padding: 1.5rem 1rem 1rem;
    border-top: solid 1px #4d4d4d;
    background-color: #3a4040;
    background-image: url("../img/overlay.png");
    color: #b3b3b3;
    text-align: center;
}


/********************************************
 * Modals
 *******************************************/


