
.about .central-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content-wrapper {
    transform: rotate(-5deg);
    margin: 0 4rem;

    @include MQ(SM) {
        margin: 0 8rem;
    }
    @include MQ(MD) {
        margin: 0 13rem;
    }
    @include MQ(LG) {
        margin: 0 20rem;
    }
    @include MQ(XL) {
        margin: 0 28rem;
    }
}

.about-title {
    text-align: center;
    font-size: 1rem;
    color: lighten($primary-light, 15);
    margin-bottom: 1rem;
    letter-spacing: 3px;

    @include MQ(XXS) {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }
    @include MQ(SM) {
        font-size: 1.5rem;
    }
}

.divider {
    width: 3rem;
    height: 2px;
    background-color: lighten($primary-dark, 15);
    margin: auto;
    margin-bottom: 1rem;

    @include MQ(XXS) {
        margin-bottom: 2rem;
    }
}

.about .content {
    letter-spacing: 1px;
    color: lighten($primary-light, 10);
    line-height: 1.5rem;
    font-size: 0.7rem;

    @include MQ(XXS) {
        font-size: 0.8rem;
        line-height: 1.7rem;
    }
    @include MQ(SM) {
        font-size: 1rem;
    }
}
