
 #contact-wrapper {
    padding-top: 9rem;
    padding-bottom: 4rem;
    background-color: $secondary-dark;
    color: $light-med;
}

#contact .section-title {
    background-color: $secondary-dark;
}

.form-submit {
    background-color: $primary-med;
    border-color: $primary-dark;
}
.form-submit:hover,
.form-submit:active {
    background-color: darken($primary-med, 5);
    border-color: $primary-dark;
}

.horizontal-divider.contact {
    width: 94%;
    margin: 3rem auto 1.5rem;
    background-color: $neutral-med2;

    @include MQ(LG) {
        display: none;
    }
}

#contact-wrapper a {
    color: $light-med;

    &:hover,
    &:active {
        color: darken($light-med, 5);
        text-decoration: none;

        .link-icon {
            margin-left: 1px;
            color: darken($light-med, 5);
        }
    }

    .link-icon {
        color: $primary-med;

        @include MQ(MD) {
            color: $primary-med;
        }
    }

    .link-text {
        display: none;

        @include MQ(MD) {
            display: inline;
        }
    }
}
