
#header-wrapper {
    background:
        url(https://www.dropbox.com/s/q5o022y80fy9psr/banner-bg.png?raw=1)
        center center / cover;
    color: $light-darker;
    padding-bottom: 9rem;
    letter-spacing: 0.25rem;

    @include MQ(SM) {
        padding-bottom: 14rem;
    }
}


/******* Navbar *******/

#navbar {
    margin-bottom: 6rem;
    @include MQ(MDandBelow) {
        margin-bottom: 2rem;
    }
}

.navbar-nav {
    border: $light-darker solid 1px;
    border-radius: 5px;
    @include MQ(MDandBelow) {
        border: none;
    }
}

.nav-link {
    color: $light-darker;
}

.navbar-nav .nav-link {
    @include MQ(MDandBelow) {
        background-color: $neutral-dark2;
        padding-left: 2.5rem;
        border-bottom: solid 1px;
    }
}


.benjamen-photo {
    text-align: center;

    img {
        width: 7rem;
        margin-bottom: 3rem;
        border-radius: 50%;
        box-shadow: 0 0 5px $primary-dark;
    }
}


/******* Title *******/

.header-title {
    color: $light-light;

    h1 {
        @include MQ(LGandBelow) {
            font-size: 2.5rem;
        }
    }
}

.header-title .hr {
    background-color: $light-light;
}

.slogan {
    letter-spacing: 0.1rem;
    @include MQ(SMandBelow) {
        font-size: 0.8rem;
    }
    @include MQ(LGandBelow) {
        font-size: 1.2rem;
    }

    &:first-of-type {
        @include MQ(SMandBelow) {
            font-size: 1rem;
        }
        @include MQ(LGandBelow) {
            font-size: 1.5rem;
        }
    }
}

.slogan:not(:first-of-type) {
    color: $light-darker;
}


/******* Doodle *******/

.doodle {
    margin-top: 0;
    max-width: 1000px;
    @include MQ(XS) {
        margin-top: -2rem;
    }
    @include MQ(SM) {
        margin-top: -4rem;
    }
}
