
.projects {
    position: relative;
    padding-bottom: 1rem;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 59rem;
        bottom: 0rem;
        left: 0;
        background-color: $primary-light;

        @include MQ(MD) {
            height: 35rem;
        }
        @include MQ(LG) {
            height: 37rem;
        }
        @include MQ(XL) {
            height: 45rem;
        }
    }
}

.project-grid {
    margin-top: 2rem;
    margin-bottom: 10rem;
    padding: 0 4rem;

    @include MQ(MD) {
        margin-top: 5rem;
        padding: 0 4rem;
    }
    @include MQ(LG) {
        padding: 0 10rem;
    }
}

.project-card {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-med;

    @include MQ(MD) {
        height: 12rem;
    }
    @include MQ(LG) {
        height: 13rem;
    }
    @include MQ(XL) {
        height: 17rem;
    }

    &.project:hover {
        border: solid $primary-light;
        cursor: pointer;
    }

    a:hover {
        text-decoration: none;
    }

    &.machine {
        display: none;
        justify-content: center;
        align-items: center;

        @include MQ(MD) {
            display: flex;
        }
    }

    img.machine {
        width: 100%;
    }

    &.title {
        background-color: $neutral-dark;
        position: relative;
    }

    &.project.one {
        background-color: $primary-dark;
    }

    &.machine.one {
        background-color: $primary-light;
    }

    &.project.two {
        background-color: $contrast-1-dark;
    }

    &.project.three {
        background-color: $primary-med;
    }

    &.project.four {
        background-color: $neutral-dark;
    }

    &.machine.three {
        background-color: $light-med;
    }

    &.project.five {
        background-color: $primary-dark;
    }
}

.project-card-wrapper {
    padding: 0 0.5rem;
}

.project-title {
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;

    &.alternate {
        width: 80%;
        margin-left: 10%;
        max-height: 3.5rem;
    }
}

.project-desc-short {
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-align: center;
}
