
section.skills {
    transform: rotate(180deg);
    margin-top: -6rem;
}

.skills-content-wrapper {
    height: 100%;
    transform: rotate(175deg);
    padding: 0 10%;
    overflow: hidden;
}

.skills-content {
    height: 100%;
    margin-top: 0rem;

    .skills:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 2px;
        top: 50%;
        background-color: $light-med;
    }

    > .row {
        height: 100%;
        padding: 5rem 0;

        @include MQ(SM) {
            padding: 4.5rem 0;
        }
    }

    .skills.first.row:before {
        left: -40%;

        @include MQ(XXS) {
            left: -47%;
        }
        @include MQ(SM) {
            left: -45%;
        }
        @include MQ(MD) {
            left: -43%;
        }
        @include MQ(LG) {
            left: -47%;
        }
        @include MQ(XL) {
            left: -50%;
        }
    }

    .skills.second.row:before {
        right: -48%;
    }
}

img.skill-icon {
    width: 2rem;
    background-color: $light-med;
    border-radius: 50%;
    padding: 10%;
    transition: all 0.4s;

    @include MQ(SM) {
        width: 3rem;
    }

    &:hover {
        background-color: $neutral-light;
        cursor: pointer;
    }
}

.skills-section-title {
    display: none;
    position: absolute;

    @include MQ(SM) {
        display: block;
        top: 10.7rem;
        left: 12%;
    }
    @include MQ(MD) {
        bottom: unset;
        top: 4.7rem;
        left: unset;
        right: 22%;
    }
    @include MQ(LG) {
        right: 26%;
    }

    h2 {
        font-size: 2.5rem;
        color: rgba(255, 255, 255, 0.6);
        letter-spacing: 0.1rem;
    }
}

.resume {
    position: absolute;
    top: 16.4rem;
    right: 12%;

    @include MQ(SM) {
        top: 16.4rem;
        right: 12%;
    }
    @include MQ(MD) {
        top: unset;
        bottom: 5rem;
        right: unset;
        left: 25%;
    }
    @include MQ(LG) {
        left: 30%;
    }
}

.btn.resume-link,
.btn.resume-link:visited {
    background-color: $primary-med;
}

.btn.resume-link:hover,
.btn.resume-link:active {
    background-color: darken($primary-med, 5);
}

.highlite-wrapper {
    width: 8rem;
    height: 8rem;
    background-color: $neutral-dark;
    border-radius: 50%;
}
