
/* Fonts */

 @import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

 * { font-family: 'Fira Sans', sans-serif; }


/* Colors */

$neutral-dark: #123034;
$neutral-med: #859ca0;
$neutral-light: #ced5cb;

$light-med: #e9ebeb;
$light-light: #f2f2f2;

$primary-dark: #5c9ea8;
$primary-med: #79b6bf;
$primary-light: #adcacf;

$contrast-1-dark: #7a547c;
$contrast-1-med: #c4ac9f;
$contrast-1-light: #f7f5c5;

$contrast-2-dark: #1c2023;
$contrast-2-alt: #ec3233;
$contrast-2-light: #f6f7f4;

$contrast-3-dark: #31405b;
$contrast-3-light: #feffff;


/* Old colors */

// $white:                     #fff;
// $grey-lightest:             #f2f2f2;
// $grey-lighter:              #d4d4d4;
// $grey-light:                #b3b3b3;

  /* slate-greens */
// $primary-dark-muted:      #313d3d;
// $primary-dark-more-muted: #3a4040;

/* greens */
// $alternate-muted:             #4f886f;
// $alternate-dark-muted:        #498067;
// $alternate-darker-muted:      #315445;